

<% if current_user %>
<h2><%=current_user.username%>'s saved links</h2>
<% end %>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <h3>Title: <%= link.title %></h3>
      <p>URL: <a href="<%= link.url %>" target="_blank"><%= link.url %></a></p>
      <p>Tag: <% link.tags.each do |each_tag| %>
        <a href="/tags/<%= each_tag.name %>"><%= each_tag.name %></a>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>

<a href="/links/new">Add a link?</a>
